.button {
    border-radius: 2px;
    background-color: transparent;
    border: 1px solid lightgrey;
    color: #4cc;
    font-size: 14px;
    font-weight: 600;
    height: 30px;
    padding: 0px 8px;
    text-align: center;
}
